@import url(/reset.css);

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    grid-column: 2;
}

.button::after {
    content: "Menu";

}

.login {
    color: black;
}

ul {
    list-style: none;
    display: flex;

}

.button {
    background-color: transparent;
    border: none;
}

.button_search {
    background-color: transparent;
    border: none;
}

.navigation {
    display: flex;
    justify-content: center;
}

.nav-link {
    justify-content: space-around;
    gap: 2em;

}

.nav-link ul {
    gap: 2em;
    list-style: none;
    text-decoration: none;
}

.nav-link a {
    color: black;
    text-decoration: none;
}

.navigation li:last-child a {
    color: red;
}



.ads {
    grid-column: 2;
    aspect-ratio: 4 / 1;

}

.ads img {
    width: 100%;
}

.ads {
    display: flex;
    margin-inline: 0;
}

figcaption {
    writing-mode: vertical-rl;
    transform: translateY(50%);

}


#article-meta {
    grid-column: 2;

    justify-content: center;

}

#abo-meta::fir {
    color: red;
}

body {
    display: grid;
    grid-template-columns: 20em 1fr 20em;
    /* margin-inline: max(calc((100% - 80rem) / 2), 1rem); */
}


header {
    grid-column: span 4;
}


#article-body img {
    grid-column: 2;
    width: 100%;
}

#article-body {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
}



#article-body p {

    grid-template-columns: subgrid;
}

#article-intro {
    grid-column: 2;
}

#content {
    display: grid;
    grid-template-columns: 20% 1fr;
}

.author img {
    width: 2em;
    border-radius: 1em;

}


.authors {
    grid-column: span 2;
    grid-template-columns: subgrid;
}

#authors p {

    margin-top: 0;
}

.author {
    display: block;
    margin-top: 1em;
    font-style: normal;
    font-weight: bolder;
}


#article-textarea header {
    display: flex;
    justify-content: space-between;
}

#article-text {
    display: flex;
    flex-direction: row-reverse;
    grid-column: 2;
    padding-inline: 2em;
}







#share-buttons li:nth-child(1) {
    background-color: blue;


}

#share-buttons li:nth-child(2) {
    background-color: aqua;

}

#share-buttons li:nth-child(3) {
    background-color: gray;

}

#share-buttons li {
    width: 10em;
    padding-block: 1em;
    list-style: none;
    text-align: center;
    height: fit-content;
}

#article-footer {
    justify-content: center;
    grid-column: span 2;
    display: grid;
    text-align: center;

}

#article-main {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
    margin-top: 1em;

}


#share-buttons a {
    text-decoration: none;

}

#article-text p:last-of-type {
   
    position: relative;

}

#article-text p:last-of-type::after {
    content: "";
    bottom: 0;
    left: 0rem;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom , transparent, white 60%);
}

#article-footer :after {
    background-color: red;
}

#article-footer p:first-of-type {
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1.3;

}



#other-articles > article > img{
    width: 100%;
    display: block;
}

#other-articles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

element.style {
    display: grid;
    grid-template-columns: 20%  1fr;
}

#latest-news{
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto 1fr;
    gap: 6rem;
    margin-top: 6em;


}

#latest-news > header{
    grid-column: 1 / -1;
}

#more-articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    
    gap: 3em;

}

#comments{
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 1rem;

}

#footer-content{
   grid-column: 2;
    
    
}

#footer-content small{
    text-align: center;
}

#footer-last {
  
  margin-top: 2em;
  background-color: gray;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 3;
}

#more-articles article > img{
    width: 100%;
    
}

#comments h4{
    border-bottom: thin dashed rgba(0, 0, 0, 0.88);
    color: red;
}

footer a{
    text-decoration: none;
    color: black;
    display: block;
}

#footer-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
}

#other-articles-header{
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



   


#copyright{
    
    grid-column: 2;
    text-align: center;
}

#comments-last{
    padding-right: 4em;
    
}

.comment header{
    display: flex;

}

#comments-last > div:nth-child(2) > header > address > time{
    display: block;
}

address a{
    text-decoration: none;
    color: black;
}

#comments-last > div:nth-child(3) > header{
    border-top: solid black thin;
    padding-top: 1em;
}

#comments-last > p > a:nth-child(1){
    font-weight: 800;
}

#comments-last > p > a:nth-child(2){
    font-weight: 800;
}

#comments-last > div:nth-child(3) > p{

    padding-right: 10em;
    line-height: 1em;
}

#comments-last > div:nth-child(2) > p{
    padding-right: 10em;
    line-height: 1em;
}

#footer-content > div:nth-child(2) > img{
    transform: translateY(-20px);
}

#latest-news > div:nth-child(2) > header{
    text-align: right;
    border-bottom: solid black thin;
    margin-bottom: 1em;
}

#latest-news > div:nth-child(1) > header > h2{
    border-bottom: solid black thin;
}

#latest-news > div:nth-child(1) > header{
    margin-bottom: 1em;
}

#other-articles > article {
    object-fit: cover;

}
#other-articles > article > img
{height: 180px;
margin-bottom: 1em;}

#other-articles-header{
    border-bottom: dashed black thin;
}